.App {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;

  .pages-container {
    margin-top: 0px;
    position: relative;
    top: 0px;
    background-color: rgb(0, 0, 0);
  }
}
